body
{
  background-color : #000;
  color: #0CF;
}

.newspaper
{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: aqua;
  column-gap: 5px;
}

.headline
{
  grid-column: 1 / span 3;
  background-color: black;
}

.newspaper.div
{
  background-color: black;
}
